/*
font-family: "montserrat", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "montserrat-alternates", sans-serif;
font-weight: 400;
font-style: normal;
*/

$brandBlack: #0A0A0A;

body,
html {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

h1,
h2 {
    font-family: "montserrat-alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: $brandBlack;
    text-decoration: none;
    letter-spacing: -0.04em;
}

h3,
p {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3 {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

h1,
h2,
h3,
p {
    .orange {
        color: #ff5225;
    }

    a {
        color: inherit;
        text-decoration-color: #ff5225;
        text-decoration-thickness: 3px;
    }
}

h1 {
    font-size: 5.61rem;
    line-height: 6rem;
}

h2 {
    font-size: 2.6rem;
    line-height: 3.2rem;
}

h3 {
    font-size: 2.3rem;
    line-height: 2.8rem;
}

p {
    font-size: 1rem;
}

@media all and (max-width: 1024px) {
    h1 {
        font-size: 3rem
    }

    h2 {
        font-size: 2rem
    }

    h3 {
        font-size: 1.6rem
    }
}

@media all and (max-width: 600px) {
    h1 {
        font-size: 1.6rem
    }

    h2 {
        font-size: 1.4rem
    }

    h3 {
        font-size: 1.2rem
    }
}

//header menu
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 40 160;
}

.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

body>.menu {
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);

    a {
        font-size: 5.61rem;
        text-align: center;
        font-family: "montserrat-alternates", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: $brandBlack;
        text-decoration: none;
        letter-spacing: -0.04em;

        &.active {
            color: #ff5225
        }

        @media all and (max-width: 1024px) {
            font-size: 3rem;
        }
    }
}

.mainContent>*,
html .footer {
    transition: all 0.5s ease 0.5s;
}

.preLoad {

    .mainContent>*,
    html .footer {
        transition: all 0.5s ease 0s;
    }
}

.menuActive {

    .mainContent,
    .footer {
        opacity: 0;
        transition: all 0.5s ease 0s;
    }

    >.menu {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.5s ease 0.5s;
        transform: translateY(0px);
    }
}


body {
    background-color: #fafaff;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        padding: 10px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fafaff;
    }

    .mainContent.home {
        display: flex;
        align-items: center;
        height: calc(100vh - 100px);
        width: 100vw;
        position: fixed;
        top: 100px;
        left: 0vw;
        padding-top: 0px;

        main {
            width: 100%;

            svg {
                width: 100% !important;
                height: auto !important;

                .cls-1,
                .cls-2 {
                    fill: none;
                    stroke: #ff5124;
                    stroke-miterlimit: 10;
                }

                .cls-6,
                .cls-4 {
                    fill: #ff5124;
                }

                .cls-transparent {
                    fill: none;
                    cursor: pointer;
                    pointer-events: all;
                }

                #fullstop {
                    transition: opacity 0.1s ease;
                }
            }
        }
    }



    #cursor {
        position: fixed;
        z-index: 999;
        pointer-events: none;
        transition: opacity 0.1s ease;
        opacity: 0;
        background-color: #ff5225;
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 100%;
    }
}

body.pickup {
    cursor: none;

    * {
        cursor: none;
    }

    #fullstop {
        opacity: 0;
        pointer-events: none;
    }

    #cursor {
        opacity: 1;
    }
}

.homeText,
main,
.footer {
    position: relative;
    transform: translateY(0px);
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.button {
    margin: auto;
    background-color: #ff5225;
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 8px;
        left: 6px;
        background-color: #0A0A0A;
        z-index: -1;
    }

    a {
        color: #fafaff;
        font-family: "montserrat-alternates", sans-serif;
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        padding: 0.8em 2.6em;
        display: block;
        position: relative;
        z-index: 2;
    }
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 140px;
}

.footer {
    text-align: center;
    padding: 30px 0px;
    margin-top: 100px;
}

html.loaded .homeText,
html.loaded main,
html.loaded .footer {
    transform: translateY(0px);
    opacity: 1;
}

.mainContent.contact {
    main {
        max-width: 1200px;
        margin: auto;
    }

    h2 {
        text-align: center;
    }
}

.projects {
    main {
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        text-align: center;
    }
}

.about {
    main {
        max-width: 1200px;
        margin: auto;

        .row {
            display: flex;
            gap: 50px;
            align-items: center;
            margin-top: 100px;

            >h3 {
                width: 50%;
            }

            >div {
                width: 50%;
            }
        }

        .rowOne {
            .imageWrapper {
                position: relative;

                .image {
                    padding-bottom: 60%;
                    position: relative;
                }
            }
        }

        .rowTwo {
            .imageWrapper {
                position: relative;

                .image {
                    padding-bottom: 60%;
                    position: relative;
                }
            }
        }

        .rowThree {
            .imageWrapper {
                position: relative;

                .image {
                    padding-bottom: 60%;
                    position: relative;
                }
            }
        }

        h2 {
            text-align: center;
            margin-top: 100px;
        }
    }
}

.contact {
    main {
        padding-top: 0px;
    }
}

.home {
    main {
        padding-top: 0px;
    }

    .footer {
        display: none;
    }
}

.projects {
    main {
        h1 {
            margin-top: 0px;
            margin-bottom: 100px;
        }

        .projectsGrid {
            display: flex;
            flex-wrap: wrap;
            gap: 60px 30px;

            .project {
                width: calc(50% - 15px);
                color: #0A0A0A;
                text-decoration: none;

                .imageWrapper {
                    position: relative;

                    .image {
                        padding-bottom: 60%;
                        position: relative;
                    }
                }

                h3 {
                    font-size: 1rem;
                    line-height: 1rem;
                    font-family: "montserrat-alternates", sans-serif;
                    font-weight: 600;
                    margin: auto;
                    margin-top: 10px;
                }
            }
        }
    }
}

body#page_{
    .footer{
        display: none;
    }
}