/*
font-family: "montserrat", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "montserrat-alternates", sans-serif;
font-weight: 400;
font-style: normal;
*/

$brandBlack: #0A0A0A;

body,
html {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

h1, h2{
    font-family: "montserrat-alternates", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: $brandBlack;
        text-decoration: none;
        letter-spacing: -0.04em;
}

h3, p{
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 5.61rem
}

h2{
    font-size: 4.209rem
}

h3{
    font-size: 3.157rem
}

p{
    font-size: 1rem;
}

//header menu
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 40 160;
}

.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

body>.menu {
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);

    a {
        font-size: 100px;
        text-align: center;
        font-family: "montserrat-alternates", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: $brandBlack;
        text-decoration: none;
        letter-spacing: -0.04em;
    }
}

.mainContent>* {
    transition: all 0.5s ease 0.5s;
}

.menuActive {
    .mainContent {
        opacity: 0;
        transform: translateY(100px);
        transition: all 0.5s ease 0s;
    }

    >.menu {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.5s ease 0.5s;
        transform: translateY(0px);
    }
}


body {
    background-color: #fafaff;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        padding: 10px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mainContent {
        display: flex;
        align-items: center;
        height: 90vh;
        width: 90vw;
        position: fixed;
        top: 5vh;
        left: 5vw;

        main {
            width: 100%;

            svg {
                width: 100% !important;
                height: auto !important;

                #fullstop {
                    transition: opacity 0.1s ease;
                }
            }
        }
    }

    #cursor {
        position: fixed;
        z-index: 999;
        pointer-events: none;
        transition: opacity 0.1s ease;
        opacity: 0;
        background-color: #ff5225;
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 100%;
    }
}

body.pickup {
    cursor: none;

    * {
        cursor: none;
    }

    #fullstop {
        opacity: 0;
        pointer-events: none;
    }

    #cursor {
        opacity: 1;
    }
}

.homeText, main {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease 0s;
}

html.loaded .homeText, html.loaded main {
    transform: translateY(0px);
    opacity: 1;
}

.mainContent.contact{
    main{
        max-width: 1000px;
        margin: auto;
    }
    h2{
        text-align: center;
    }
}
