h1, h2, h3, h4, h5, h6, .font-sans{
    font-family: montserrat-alternates, sans-serif !important;
font-weight: 600 !important;
font-style: normal;
letter-spacing: 0em !important;
}

body, p, p.font-sans{
    font-family: prompt !important;
    font-weight: initial !important;
    letter-spacing: 0em !important;
}

.bg-brandOrange{
    background-color: #FF4C1F;
}

.bg-brandLightBlue{
    background-color: #00BCDA;
}

.bg-brandPurple{
    background-color: #81368B;
}

.text-brandLightBlue{
    color: #00BCDA !important;
}

.text-brandPurple{
    color: #81368B !important;
}


.bg-brandOrangeTransparent{
    background-color: rgba(255, 76, 31, 0.8);
}

.navLogo{
    list-style-type: none;
}

.carouselNoArrow{
    button{
        display: none !important;
    }
}

.home main section:nth-of-type(2){
    .container{
        gap: 30px;
        > div{
            transform: none !important;
        }
    }
h1 span:last-of-type{
    display: none;
}
ul li svg{
    display: none !important;
}
.-mt-16{
    margin-top: -8rem !important;
}
}

.homeBanner{
max-width: 1200px;
transition: all 1s ease;
img{
    transition: all 1s ease;
}
}

[data-scroll="true"] .homeBanner{
    max-width: 1800px; 
    img{
        border-radius: 0px;
    }
}

.object-fit-contain{
    object-fit: contain;
}

.pImgHeight{
    height: 0px !important;
    position: relative;
    border-radius: 0px;
    &:before{
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 60.7638888889%;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}